@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    .primaryBackground{
        @apply bg-slate-200
    }
}


@layer components {
    .SectionTitle {
        @apply text-4xl font-bold font-serif
    }

    .Bborder {
        @apply border border-black
    }

    .Rborder {
        @apply border border-red-600
    }

    .icons {
        @apply md:w-10 md:h-10
    }

    .profileBadge {
        @apply grid place-content-center p-4 shadow-md hover:shadow-xl border rounded-xl md:w-80
    }

    .patronBadge {
        @apply grid place-content-center p-1 shadow-md border rounded-xl
    }

    .theBlob {
        animation: animateBlob 5s ease-in-out infinite;
        transition: all 1s ease-in-out;
    }
    /* Bottom Right */
    .curvedB-R-S{
        border-radius: 0 0 10em 0;
    } 
    .curvedB-R-M{
        border-radius: 0 0 15em 0;
    }
    .curvedB-R-L{
        border-radius: 0 0 20em 0;
    }
    
    /* Fundraisers section */
    .curvedStoryS{
        border-radius: 2em 10em 2em 0;
    }
    .curvedStoryM{
        border-radius: 2em 30em 2em 0;
    }
    .curvedStoryL{
        border-radius: 2em 40em 2em 0;
    }

    /* Contribute section home page */
    .contribute-S{
        border-radius: 10em 0 0 10em;
    }
    .contribute-M{
        border-radius: 15em 0 0 15em;
    }
    .contribute-L{
        border-radius: 20em 0 0 20em;
    }

    @keyframes animateBlob {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }

        25% {
            border-radius: 55% 45% 35% 65% / 65% 35% 65% 45%;
        }

        50% {
            border-radius: 50% 50% 40% 60% / 60% 40% 60% 50%;
        }

        75% {
            border-radius: 65% 35% 45% 55% / 55% 45% 55% 35%;
        }

        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
    }

}